[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_ghostscript
name: Ghostscript
description: Ein freier Interpreter der Seitenbeschreibungssprachen PostScript und PDF
advice: 
version: 9.23
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.opsiscript
uninstallScript: uninstall64.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: config_systempath
multivalue: False
editable: False
description: Configure system path
values: ["no", "yes with reboot", "yes without reboot"]
default: ["yes with reboot"]

[Changelog]
dfn_ghostscript (9.23-1)
	* neue Upstreamversion (https://ghostscript.com/doc/9.23/News.htm)
	* ProductProperty "custom-post-install" bzw. "custom-post-deinstall" gem. o4i-Richtlinie hinzugefügt
	* ProductProperty "install_architecture" entfernt, da ohnehin nur 64-Bit-Version enthalten
	* Erfolgskontrolle Installation zusätzliche Prüfung Version via Registry ("DisplayVersion")
-- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 22.03.2018

dfn_ghostscript (9.22-1)
	* neue Upstreamversion
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
	* o4i-Logo: Anzeigeaufruf nach common.opsiinc ausgelagert, eigenes Logo möglich
	* alle Variablendefinitionen nach common.opsiinc
-- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 05.10.2017

dfn_ghostscript (9.21-1)
	* neue Upstreamversion
-- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 17.03.2017

dfn_ghostscript (9.20-1)
	* neue Upstreamversion
	* o4i-Logo
-- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 27.09.2016

dfn_ghostscript (9.19-2)
	* Fix für fehlerhafte Suche nach Installation (zusätzliche Prüfung)
 -- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 07.06.2016

dfn_ghostscript (9.19-1)
	* neue Upstreamversion
	* Version aus control ermitteln und für $SetupFile$ verwenden
-- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 30.03.2016

dfn_ghostscript (9.18-2)
	* neue Upstreamversion
-- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 06.10.2015

dfn_ghostscript (9.16-2)
	* ProductProperty Systempfad
	* Produkt-Logo hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 18.08.2015

dfn_ghostscript (9.16-1)
	* initiales DFN-Paket
	* Ghostscript Verzeichnisse 'lib' bzw. 'bin' zum Systempfad konfigurieren, damit z.B. Inkscape EPS Dateien öffnen kann (https://inkscape.org/de/lernen/haufig-gestellte-fragen/#How_to_open_EPS_files_in_Windows)
 -- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 10.08.2015























































